@charset "UTF-8";
.box {
  background-color: #f3f3f3;
}
.box .global-header {
  width: 1000px;
}
.box .top {
  z-index: 110;
  width: 100%;
  top: 0;
  right: 0;
}
.box .top .top1 {
  background-color: #f5ce00;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.box .top .top1 .slider {
  background-color: rgb(203, 36, 44);
}
.box .top .top1 .find {
  background-color: #f5ce00;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  width: 100%;
  text-align: center;
}
@media (max-width: 576px) {
  .box .top .top1 .find {
    font-size: 14px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
  }
  .box .top .top1 .find__logo {
    width: 30px;
    height: 30px;
  }
  .box .top .top1 .find__input {
    width: 100px;
    height: 30px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .box .top .top1 .find__cart {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .box .top .top1 .find p {
    font-size: 7px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 1px;
  }
}
@media (min-width: 576px) and (max-width: 799px) {
  .box .top .top1 .find {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  }
  .box .top .top1 .find__logo {
    width: 100px;
    height: 80px;
    margin-top: -5px;
  }
  .box .top .top1 .find__input {
    width: 150px;
    height: 30px;
    margin: 0 5px;
    border: 3px solid black;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .box .top .top1 .find {
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .box .top .top1 .find__logo {
    width: 40px;
    max-height: 40px;
    margin-top: -5px;
  }
  .box .top .top1 .find__input {
    width: 200px;
    height: 30px;
    margin: 0 5px;
    border: 3px solid black;
  }
}
@media (min-width: 1200px) {
  .box .top .top1 .find {
    width: 1200px;
    margin: 0 auto;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .box .top .top1 .find__cart {
    width: 100px;
    margin-top: 5px;
  }
  .box .top .top1 .find__input {
    margin-left: 15px;
    width: 267px;
    height: 40px;
    border: 3px solid black;
  }
  .box .top .top1 .find__logo {
    width: 40px;
    height: 40px;
    margin-top: -5px;
    background-color: black;
  }
}
.box .top .top1 .find__logo {
  max-width: 400px;
  max-height: 300px;
  margin-top: 0px;
}
.box .top .top1 .find__input {
  max-width: 400px;
  max-height: 60px;
  border: 3px solid black;
}
.box .top .top1 .find__history {
  height: 50px;
  width: 120px;
  text-align: center;
  background-color: rgba(255, 172, 10, 0.6);
}
@media (min-width: 576px) and (max-width: 799px) {
  .box .top .top1 .find__history {
    color: #f8f8f8;
  }
}
.box .top .top1 .find__cart {
  display: flex;
  align-items: center;
  max-width: 190px;
  height: 50px;
  background-color: rgba(255, 172, 10, 0.6);
  justify-content: center;
}
.box .top .top1 .find p:hover {
  cursor: pointer;
  opacity: 0.5;
}
.box .top .top1 .find__cart:hover {
  cursor: pointer;
  opacity: 0.5;
}
.box .top .top1 .header {
  margin: 0 auto;
  max-width: 100%;
}
.box .top .top1 .header .headerCenter {
  display: flex;
  justify-content: center;
  position: relative;
}
.box .top .top1 .header .headerCenter .menulink {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 20px;
}
@media (max-width: 576px) {
  .box .top .top1 .header .headerCenter .menulink .banner__img {
    width: 500px;
  }
  .box .top .top1 .header .headerCenter .menulink__link {
    height: 30px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 5px;
    text-align: center;
    list-style-type: none;
  }
}
@media (min-width: 576px) and (max-width: 799px) {
  .box .top .top1 .header .headerCenter .menulink__link {
    margin: 0 auto;
    height: 50px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0 10px;
    text-align: center;
    list-style-type: none;
  }
  .box .top .top1 .header .headerCenter .menulink__logo {
    width: 100px;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .box .top .top1 .header .headerCenter .menulink__link {
    height: 50px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 4px 20px;
    list-style-type: none;
    color: black;
  }
}
@media (min-width: 1200px) {
  .box .top .top1 .header .headerCenter .menulink__cart {
    width: 90px;
  }
  .box .top .top1 .header .headerCenter .menulink__link {
    margin: 0 auto;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 20px;
    color: black;
    text-align: center;
    list-style-type: none;
  }
}
.box .top .top1 .header .headerCenter .menulink .menu_child {
  z-index: 1000;
  position: absolute;
  background-color: white;
  display: flex;
  opacity: 0;
  left: 0;
  visibility: hidden;
  transition: 0.4s linear;
}
.box .top .top1 .header .headerCenter .menulink .menu_child .menu_child_item {
  flex-direction: column;
  max-width: 100%;
}
.box .top .top1 .header .headerCenter .menulink__link:hover .menu_child,
.box .top .top1 .header .headerCenter .cartIcon1:hover .menu_child {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}
.box .top .top1 .header .headerCenter .menu_child_item_name {
  color: red;
  width: 150px;
  margin: 0 auto;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  text-align: center;
}
@media (max-width: 576px) {
  .box .top .top1 .header .headerCenter .menu_child_item_name {
    color: black;
    margin-top: 10px;
    font-size: 6px;
    width: 100%;
  }
}
.box .top .top1 .header .headerCenter .menu_child_item_name:hover {
  cursor: pointer;
  color: black;
  opacity: 0.4;
}
.box .top .top1 .header .headerCenter .menu_child_list li {
  font-size: 15px;
  margin: 0 auto;
  color: red;
  margin-left: -15px;
  background-color: blue;
  list-style: none;
  width: 150px;
  display: flex;
  flex-direction: row;
  align-self: center;
}
@media (max-width: 576px) {
  .box .top .top1 .header .headerCenter .menu_child_list li {
    color: black;
    font-size: 5px;
    width: 100%;
  }
}
.box .top .top1 .header .headerCenter .menu_list_item:hover {
  opacity: 1;
  color: #f5ce00;
}
.box .top .top1 .header .headerCenter .menu_list_item {
  color: black;
  width: 100%;
  align-self: center;
  align-items: center;
  background-color: blue;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
}
@media (max-width: 576px) {
  .box .top .banner__img {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 799px) {
  .box .top .banner__img {
    width: 100%;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .box .top .banner__img {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .box .top .banner__img {
    width: 100%;
  }
}
.box .top .banner__img:hover {
  cursor: pointer;
}
.box .top .menulink__link:hover {
  cursor: pointer;
}
.box .body {
  z-index: 100;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #f5ce00;
}
.box .body .body_slider {
  width: 80%;
}
@media (min-width: 800px) and (max-width: 1200px) {
  .box .body .body_slider {
    width: 70%;
  }
}
@media (min-width: 576px) and (max-width: 799px) {
  .box .body .body_slider {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .box .body .body_slider {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .box .body .body_slider {
    width: 100%;
  }
}
.box .main {
  background-color: #f3f3f3;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -45px;
}
.box .main .button {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.box .main .button__item {
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  background-color: red;
  justify-content: space-around;
  width: 50%;
  height: 50%;
  border: 2px solid yellow;
  margin: 5px;
}
.box .main .button__item:hover {
  cursor: pointer;
  opacity: 0.5;
}
@media (max-width: 576px) {
  .box .main .button {
    width: 100%;
  }
  .box .main .button__item img {
    margin-left: 3px;
    border-radius: 5px;
    margin-top: 5px;
    width: 30px;
    height: 25px;
  }
  .box .main .button__item p {
    margin-left: 2px;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
.box .container {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #ff5a4f;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 400px 400px;
  justify-self: center;
}
@media (max-width: 576px) {
  .box .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 576px) and (max-width: 799px) {
  .box .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .box .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.box .sanpham {
  justify-self: center; /* Canh giữa phần tử theo chiều ngang */
  align-self: center; /* Canh giữa phần tử theo chiều dọc */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 150px;
  height: 300px;
  background-color: white;
  text-align: center;
}
.box .sanpham:hover {
  cursor: pointer;
  opacity: 0.5;
}
.box .footer {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  background-color: #f5ce00;
}
.box .footer p:hover {
  cursor: pointer;
  color: #f8f8f8;
}/*# sourceMappingURL=Index.module.css.map */